<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Webpack {{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <!-- <script src="./dist/bundle.js"></script> -->

</body>

</html>